<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @stack.api_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stack.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @stack.slug %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @stack.popularity %>
</p>

<p>
  <strong>Tool layer count:</strong>
  <%= @stack.tool_layer_count %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @stack.verified? %>
</p>

<p>
  <strong>Full object</strong>
  <pre>
<%= JSON.pretty_generate(@stack.full_object) if @stack.full_object.present? %>
  </pre>
</p>

<p>
  <strong>Tags:</strong>
  <% if @tags.empty? %>
    - none -
  <% else %>
    <ul>
      <% @tags.each do |tag| %>
        <li>
          <%= link_to tag.name, tag %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <strong>Tools:</strong>
  <% if @tools.empty? %>
    - none -
  <% else %>
    <ul>
      <% @tools.each do |tool| %>
        <li>
          <%= link_to tool.name, tool %>
        </li>
      <% end %>
    </ul>
  <% end %>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
