<p id="notice"><%= notice %></p>

<p>
  <strong>Api:</strong>
  <%= @stack.api_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stack.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @stack.slug %>
</p>

<p>
  <strong>Popularity:</strong>
  <%= @stack.popularity %>
</p>

<p>
  <strong>Full object</strong>
  <pre>
<%= JSON.pretty_generate(@stack.full_object) if @stack.full_object.present? %>
  </pre>
</p>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
